@use "variables";

@mixin pageProduct( $color-font){
    width: 100%;
    min-height: calc(100vh - max(80px, 11vw));
    padding: 0 max(40px, 7.5vw);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-font;
    font-family: variables.$ff-r;

    @media (max-width:980px){
        align-items: center;
        justify-content: center;
        padding-bottom: 3em;
    }
}

@mixin productText{
    min-width: 200px;
    max-width: 645px;
    min-height: 297px;
    max-height: 400px;
    font-family: variables.$ff-r;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;

}

@mixin productInfo($fsize, $fweight, $line, $ffamily){    
    font-size: $fsize;
    font-weight: $fweight;
    line-height: $line;
    font-family: $ffamily;
    margin: 0;

}

@mixin lineInfo{
    width: 100%;
    height: 2px;
    background-color: red;
}

@mixin btnInfo{
    font-size: variables.$fs-24;
    font-weight: variables.$w-500;
    line-height: 29.5px;
    padding: 18px 48px;
    background-color: variables.$c-fondo;
    color: variables.$c-font;
    font-family: variables.$ff-i;
    border-radius: 2em;
    cursor: pointer;   
    text-decoration: none;

    @media (max-width:980px){
        font-size: variables.$fs-16;
        padding: 12px 32px;
    }
}

@mixin homeimgProduct($order){
    min-width: 300px;
    max-width: 100%;
    min-height: 300px;
    height: 100%;
    order: $order;
}

@mixin productCard($width){
    width: $width;
    min-width: 144px;
    height: 100%;
    cursor: pointer;
}

@mixin imgCardHome{
    // min-width: 144px;
    width: 100%;
    max-width: 374px;
    height: max(200px, 25vw);
}

@mixin textCardHome($fs, $fw, $lh){
    font: {
        size: $fs;
        weight: $fw;
        family: variables.$ff-i;
    }
    line-height: $lh;
    margin-left: 15px;
}

@mixin borderInput{
    border: 1px solid black;
    border-radius: 5px;
}

@mixin productimg{
    min-width: 250px;
    min-height: 250px;
    // width: 550px;
    height: 550px;
    max-width: 550px;
    max-height: 550px;

    background: {
        repeat: no-repeat;
        position: center;
        size: contain;
    };

}

@mixin media($width){
    @media (max-width: $width){
        @content;
    }
}