@use "../variables";
@use "../minfux";

.main__listado{
    min-width: 100vw;
    height: calc(100svh - max(50px, 6.5vw) - 170px);
    position: absolute;
    top: min(120px, 9vw);
    padding: 36px max(40px, 7.5vw);

    @include minfux.media(610px){
        height: calc(100svh - max(50px, 3vw) - 80px);
    }

    @include minfux.media(450px){
        padding: 20px 20px;
    }
}

.section__search{
    margin-bottom: 1.5rem;

    .search__icon{
        display: flex;
        gap: 25px;
    
        box-icon{
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    
        input{
            min-width: 150px;
            max-width: 530px;
            height: 30px;
            border-radius: 6px;
            border: 1px solid black;
    
            @include minfux.productInfo(clamp(10px, 3.5vw, variables.$fs-20), variables.$w-500, 10px, variables.$ff-i);
            color: #b9b9b9;

            &:focus{
                border: none;
                outline: 1px solid red;
            }

        
        }
    }
}

.section__list{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .list__title{
        @include minfux.productInfo(clamp(variables.$fs-12, 3.5vw, 40px), variables.$w-700, 10px, variables.$ff-r);
    }

    .list__label{
        @include minfux.productInfo(clamp(variables.$fs-12, 3.5vw, variables.$fs-24), variables.$w-700, 10px, variables.$ff-r);
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;

        input{
            min-width: 20px;
            width: 40px;
            min-height: 20px;
            height: 40px;
            background-color: red;
            border: 0;
            border-radius: 10px;
            color: white;
            font-size: 60px;
            line-height: 0;
        }
    }
}

.table{
    width: 100%;
    margin-top: 2rem;

    thead{
        height: auto;
        @include minfux.productInfo(clamp(variables.$fs-12, 2.5vw, variables.$fs-24), variables.$w-700, 30px, variables.$ff-i);
    }

    tbody{
        @include minfux.productInfo(clamp(variables.$fs-12, 2.5vw, variables.$fs-24), variables.$w-500, 40px, variables.$ff-i);
        margin-top: 1rem;

        box-icon{
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
}