@use "../../variables";
@use "../../minfux";

.firstProduct,
.secondProduct,
.thirdProduct{

    @include minfux.pageProduct(black);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include minfux.media(980px){
        padding-top: 50px;
        padding-bottom: 50px;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;

    }



};

.firstProduct{
    .home__product__text{
        @include minfux.media(980px){
            min-height: 250px;
        }

        @include minfux.media(630px){
            min-height: 250px;
        }
     
        &_title{
            @include minfux.media(630px){
                font-size: variables.$fs-38;
                line-height: 40px
            }

            @include minfux.media(520px){
                font-size: variables.$fs-24;
                font-weight: variables.$w-700;
            }
        }
    }

}

.home__product__text{
    @include minfux.productText;

    @include minfux.media(980px){
        // min-width: 530px;
        width: 70vw;
        min-height: 250px;
        max-height: 15vh;
        font-family: variables.$ff-r;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 0;     
    }
}

.home__product__text_title{
    @include minfux.productInfo(variables.$fs-46, variables.$w-500, 54px, variables.$ff-r);
    
    @include minfux.media(980px){
        text-align: center;
    }

    @include minfux.media(630px){
        font-size: variables.$fs-38;
        line-height: 30px;
    }
}

.home__product__text_paragraph{
    @include minfux.productInfo(variables.$fs-24, variables.$w-400, 28.18px, variables.$ff-r);
    @include minfux.media(980px){
        text-align: center;
    }

    @include minfux.media(630px){
        font-size: variables.$fs-18;
        font-weight: variables.$w-500;
    }
}

.home__product__text_line{
@include minfux.lineInfo;
}

.home__product__btn{
    @include minfux.btnInfo;
}

.home__product__img{
    @include minfux.homeimgProduct(1);
    background: {
        image: url(.../../../img/productos/baby-yoda-1.png);
        repeat: no-repeat;
        position: center;
        size: contain;
    }
    @include minfux.media(980px){
        background-position: center;
        min-width: 80%;
        height: 100%;
        order: -1;
        transform: translate(-20px, 0);
    }

}

.home__product__img_second{
    @include minfux.homeimgProduct(-1);
    background: {
        image: url(.../../../img/productos/vulpix-1.png);
        repeat: no-repeat;
        position: center;
        size: contain;
    }

    @include minfux.media(980px){
        background-position: center;
        min-width: 80%;
        height: 100%;
        

    }
}

.home__product__img_third{
    @include minfux.homeimgProduct(1);
    background: {
        image: url(.../../../img/productos/snape-patronus-1.png);
        repeat: no-repeat;
        position: center;
        size: contain;
    }
    @include minfux.media(980px){
        background-position: center;
        min-width: 80%;
        height: 100%;
        order: -1;
    }
}
