@use "../../variables";
@use "../../minfux";

.banner{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 max(40px, 7.5vw);
    font-family: variables.$ff-r;
    background-color: variables.$c-fondo;
    position: relative;
    z-index: -100000000;

    @include minfux.media(600px){
        align-items: start;
        padding: 150px max(40px, 7.5vw);
    }
}


.banner_img{
    position: absolute;
    top:max(80px, 11vw);
    left: 0;
    z-index: -100000;
    min-width: 100vw;
    height: 70vh;
    background: {
        image: url(.../../../img/desktop/banner.png);
        repeat: no-repeat;
        size: cover;
        position: center;
    };
}

.banner__text{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    height: auto;
    color: variables.$c-font;

    @include minfux.media(600px){
        max-width: 80%;
        min-height: 200px;
        justify-content: space-between;
    }

    .banner__text_title{
        font-size: variables.$fs-38;
        line-height: 44.61px;
        font-weight: variables.$w-700;
        margin-bottom: .4em;

        @include minfux.media(600px){
            font-size: variables.$fs-38;
            min-font-size: 32px;
        }
    }

    .banner__text_span{
        font-size: variables.$fs-18;
        line-height: 21.13px;
        font-weight: variables.$w-400;

        @include minfux.media(600px){
            font-size: variables.$fs-20;
            width: 80%;
        }
    }

    .banner__text_btn{
        position: relative;
        top: 60px;
        max-width: 211px;
        height: 47px;

        font: {
            size: variables.$fs-20;
            weight: variables.$w-500;
            family: variables.$ff-i;
        }

        line-height: 24.2px;

        border: none;
        border-radius: 2em;

        background-color: variables.$c-font;
        color: black;
        cursor:pointer;

        text-align: center;
        text-decoration: none;
        padding-top: .5em;

        @include minfux.media(600px){
            top: 20px;
        }
        
    }
}

