@use "../minfux";
@use "../variables";

.main__about{
    position: absolute;
    width: 100%;
    height: calc(100svh - max(50px, 6.5vw) - 170px);
    padding: 0 max(40px, 7.5vw);
    top: min(120px, 9vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    @include minfux.media(610px){
    height: calc(100svh - max(50px, 6.5vw) - 80px);
    justify-content: center;
    }

    @include minfux.media(450px){
        padding: 0 20px;
    }
}

.about__img{
    width: 50%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
        object-fit:contain;
    }
}

.about__section{  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
    width: 50%;
    min-height: 28vw;
    height: 500px;
    row-gap: 15px;

    @include minfux.media(610px){
        padding-left: 20px;
        padding-right: 20px;
        height: calc(90vh - max(80px, 11vw) - 155px);
        padding-top: 0;
    }

    @include minfux.media(450px){
        align-items: center;
        height: 80%;
        width: 90%;
        min-width: 300px;

    }

    &_title{
        @include minfux.productInfo(clamp(28px, 4vw, variables.$fs-46), variables.$w-500, 30px, variables.$ff-r);
        text-align: start;
        width: 100%;
        
    }

    &_subtitle{
        @include minfux.productInfo(clamp(variables.$fs-16, 4vw, variables.$fs-24), variables.$w-400, 30px, variables.$ff-r);
        text-align: start;
        

        @include minfux.media(610px){
            font-size: variables.$fs-18;
            margin-top: 10px;
        }
    }
}

.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40vh;

    @include minfux.media(610px){
        height: 70%;
        margin-top: 10px;
    }

    &_label{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 15px 10px 10px 25px;

        box-shadow: 0px 0px 10px 2px rgba(133, 133, 133, 0.534);
        background-color: rgba(226, 226, 226, 0.89);
        border-radius: 25px;

        width: 100%;
        height: 60px;


        @include minfux.productInfo(clamp(8px, 2.5vw, variables.$fs-12) , variables.$w-400, 0, variables.$ff-i);

        @include minfux.media(450px){
            height: 50px;
            padding: 10px 5px 5px 20px;


        }    
    }

    &_input{
        background-color: transparent;
        border: 0;
        width: 95%;
        height: 30px;
        text-align: start;
    
        @include minfux.productInfo(clamp(10px, 3.5vw, variables.$fs-16), variables.$w-400, 19px, variables.$ff-i);


        &:focus{
            height: 1.5rem;
            padding-left: 10px;
            border-radius: 15px;
            outline: 1px solid rgba(255, 0, 0, 0.322);
            font-size: variables.$fs-16;
        }

    }


    &_btn{
        @include minfux.productInfo(variables.$fs-16, variables.$w-500, 30px, variables.$ff-r);
        
        width: 30%;
        height: 50px;
        background-color: red;
        border: 0;
        border-radius: 22px;
        color: #fff;
        cursor: pointer;

        @include minfux.media(450px){
            width: 50%;
        }
    }

}

.login__form{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 21px;

    @include minfux.media(610px){
        align-items: center;
        height: 150px;
    }

    @include minfux.media(450px){
        align-items: center;
        height: 150px;
        width: 90%;
    }

    &_label{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        padding: 15px 10px 10px 25px;

        box-shadow: 0px 0px 10px 2px rgba(133, 133, 133, 0.534);
        background-color: rgba(168, 166, 166, 0.24);
        border-radius: 25px;

        width: 100%;
        height: 60px;


        @include minfux.productInfo(clamp(8px, 2.5vw, variables.$fs-12) , variables.$w-400, 0, variables.$ff-i);

        @include minfux.media(450px){
            height: 50px;
            padding: 10px 5px 5px 20px;


        }
    }

    &_input{
        background-color: transparent;
        border: 0;
        width: 95%;
        height: 30px;
        text-align: start;
    
        @include minfux.productInfo(clamp(10px, 3.5vw, variables.$fs-16), variables.$w-400, 19px, variables.$ff-i);
    
    
        &:focus{
            height: 1.5rem;
            padding-left: 10px;
            border-radius: 15px;
            outline: 1px solid rgba(255, 0, 0, 0.322);
            font-size: variables.$fs-16;
        }
    }

    &_article{
        width: 100%;
        height: 39.06px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        @include minfux.media(610px){
            flex-direction: column-reverse;
            height: 5rem;
        }
 
    
        &_ingresar{
            background-color: red;
            width: 30%;
            height: 50px;
            border: 0;
            border-radius: 22px;
            @include minfux.productInfo(variables.$fs-16, variables.$w-400, 14.52px, variables.$ff-i);
            align-self: center;
            color: #fff;
            cursor: pointer;

            @include minfux.media(450px){
                width: 50%;
            }
        }

        &_label{
            @include minfux.productInfo(variables.$fs-18, variables.$w-400, 21.78px, variables.$ff-i);
            color: #1f1f1f;
            cursor: pointer;
            width: 50%;
            justify-content: end;
        }
}

    &_recupero{
        @include minfux.productInfo(variables.$fs-14, variables.$w-400, 16.94px, variables.$ff-i);
            color: #1d84b5;
            cursor: pointer;
            display: block;
            width: 100%;
            text-align: center;

    }
}

.isloggedNone{
    display: none;
}

.islogged{
    position: absolute;
    top: 1vw;
    left: 32vw;
    width: 30%;
    height: 3rem;
    background-color: #ff0000;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        @include minfux.productInfo(variables.$fs-20, variables.$w-400, 1rem, variables.$ff-i);
    }
}

.register__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    min-width: 200px;
    width: 100%;
    min-height: 30vw;
    height: 80%;
    border-radius: 10px;
    
    
    @include minfux.media(840px){
        width: 80%;
        height: 80%;
    }
    
    @include minfux.media(450px){
        min-width: 100%;
        height: 90%;
    }
        
    
    .register__form__name{
        width: 100%;
        display: flex;
        gap: 20px;
    }
    
    &_label{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 15px 10px 10px 25px;

        box-shadow: 0px 0px 10px 2px rgba(133, 133, 133, 0.534);
        background-color: rgba(168, 166, 166, 0.24);
        border-radius: 25px;

        width: 100%;
        height: 60px;

        @include minfux.productInfo(clamp(8px, 2.5vw, variables.$fs-12) , variables.$w-400, 0, variables.$ff-i);

        @include minfux.media(450px){
            height: 50px;
            padding: 10px 5px 5px 20px;


        }       
    
    }
    
    &_input{
        background-color: transparent;
        border: 0;
        width: 95%;
        height: 30px;
        text-align: start;
    
        @include minfux.productInfo(clamp(10px, 3.5vw, variables.$fs-16), variables.$w-400, 19px, variables.$ff-i);


        &:focus{
            height: 1.5rem;
            padding-left: 10px;
            border-radius: 15px;
            outline: 1px solid rgba(255, 0, 0, 0.322);
            font-size: variables.$fs-16;
        }
    }
    
    &_div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 39px;
    }
    
    &_register{
    background-color: red;
    width: 30%;
    height: 50px;
    border: 0;
    border-radius: 22px;
    @include minfux.productInfo(variables.$fs-16, variables.$w-400, 14.52px, variables.$ff-i);
    align-self: center;
    color: #fff;
    cursor: pointer;

    @include minfux.media(450px){
        width: 50%;
    }
    }
    
    &_label_terminos{
        width: 100%;
        text-align: center;
        @include minfux.productInfo(variables.$fs-16, variables.$w-400, 14.52px, variables.$ff-i);
    }

    &_input_check{
        cursor: pointer;
        background-color: red;

        &:focus{
            border: 1px solid red;
            border-radius: 15px;
        }
    }

    &_span{
        color: #1D84B5;
        text-decoration: underline;
        cursor: pointer;
    }
        
}
