<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= view.title %> </title>


    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="shortcut icon" href="/static/img/desktop/icono.png" type="image/x-icon">

    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/close-r.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css' rel='stylesheet'>


        <!-- fonts -->
        <!-- raleway -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">


    <!-- inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>

    <% if( locals.isLogged && locals.roles == "user" ) { %>
        <header class="header" id="header">
            
            <a href="/" class="header__a">
                <div class="header__title"></div>
            </a>
                
            <nav class="header__nav" id="nav">
                <li class="nav__li"><a href="/shop">SHOP</a></li>
                <li class="nav__li"><a href="/contact">CONTACT</a></li>
                <li class="nav__li"><a href="/login/logout">SALIR</a></li>
                <li class="nav__li">
                    <a href="#">
                        <box-icon name='cart' color='#f96301' class="bx"></box-icon>
                    </a>
                </li>
            </nav>
                
            <div class="burger" id="burger"></div>
        </header>
    <% }else if (locals.isLogged && locals.roles == "admin") { %>
        <header class="header" id="header">
                
            <a href="/" class="header__a">
                <div class="header__title"></div>
            </a>
                
            <nav class="header__nav" id="nav">
                    <li class="nav__li"><a href="/shop">SHOP</a></li>
                    <li class="nav__li"><a href="/admin">ADMIN</a></li>
                    <li class="nav__li"><a href="/login/logout">SALIR</a></li>
                    <li class="nav__li">
                        <a href="#">
            
                            <box-icon name='cart' color='#f96301' class="bx"></box-icon>
                        </a>
                    </li>
                </nav>
                
                <div class="burger" id="burger"></div>
        </header>
    <% } else { %>
        <header class="header" id="header">
                
            <a href="/" class="header__a">
                <div class="header__title"></div>
            </a>
                
            <nav class="header__nav" id="nav">
                    <li class="nav__li"><a href="/shop">SHOP</a></li>
                    <li class="nav__li"><a href="/contact">CONTACT</a></li>
                    <li class="nav__li"><a href="/login">LOGIN</a></li>
                    <li class="nav__li">
                        <a href="#">
            
                            <box-icon name='cart' color='#f96301' class="bx"></box-icon>
                        </a>
                    </li>
                </nav>
                
                <div class="burger" id="burger"></div>
        </header>
    <% } %>
