<%- include("../partials/header") -%>

    <section class="main__modal_add">

        <article class="main__add">

            <h2 class="add__title">CREAR NUEVO ITEM</h2>

                <form class="add__form" action="/admin/add" method="POST" enctype="application/x-www-form-urlencoded">

                    <article class="form_label">
                        <section class="label_category">
                            <label class="add__form_label categoria" for="category">Categoría:</label>
                            <select class="add__form_input">
                                <option disabled hidden required>Seleccionar</option>    
                                <option value="Funko" name="category">Funko</option>    
                            </select>
                        </section>
                        
                        <section class="label_licence">
                            <label class="add__form_label licencia" for="licence" >Licencia:</label>
                            <select class="add__form_input">
                                <option hidden disabled required>Seleccionar</option>
                                <option value="Harry potter" name="licence">Harry potter</option>
                                <option value="Star wars" name="licence">Star Wars</option>
                                <option value="Pokemon" name="licence">Pokemon</option>
                            </select>
                        </section>
                    </article>
                                
                    <label class="add__form_label name" for="name">Nombre del producto:
                        <input type="text" class="add__form_input" placeholder="Kakashi Hatake Saga" name="name">
                    </label>
        
                    <label class="add__form_label message" for="description">
                        <textarea class="add__form_input" placeholder="Descripción del producto" name="description"></textarea>
                    </label>
                    
                    <label class="add__form_label sku" for="sku">SKU:
                        <input type="text" class="add__form_input" size="7" placeholder="SSK111AB001" name="sku">
                    </label>
                    
                    <label class="add__form_label price" for="price">Precio:
                        <input type="text" class="add__form_input" placeholder="$0.0000,00" size="7" name="price">
                    </label>
                    
                    <label class="add__form_label stock" for="stock">Stock:
                        <input type="text" class="add__form_input" placeholder="0" size="3" name="stock">
                        <span>Unidades</span>
                    </label>
                    
                    <label class="add__form_label descuentos" for="discount">Descuento:
                        <input type="text" class="add__form_input" placeholder="0%" size="3" name="discount">
                    </label>
                    
                    <article class="form_dues">
                        <label class="add__form_label cuotas" for="dues">Cuotas:</label>
                        <select class="add__form_input">
                            <option value="" required >Seleccionar</option>
                            <option value="3" name="dues">3 couta s/interes</option>
                            <option value="6">6 couta s/interes</option>
                            <option value="9">9 couta s/interes</option>      
                            <option value="12">12 couta s/interes</option>        
                        </select>
                    </article>
        
                    <label class="add__form_label image">Imágenes:
                        <input type="file" accept="image/png, image/jpeg" class="add_form_input">
                    </label>
        
                    <input type="submit" class="add__from_input"  value="Agregar Producto">
        
                    <input type="reset" class="add__from_input" value="Limpiar">


            </form>


        </article>

    </section>

    <!-- <script src="<%= view.script %>" type="module"> </script> -->


    </body>

    </html>