<%- include("../partials/header") -%>

<section class="main__modal_add">
        

    <article class="main__add">

        <h2 class="add__title">CREAR NUEVO ITEM</h2>

        <form class="add__form" action="/admin/create" method="POST" enctype="multipart/form-data">

            <label class="add__form_label name">Nombre del producto:
                <input type="text" class="add__form_input" placeholder="Kakashi Hatake Shippuden Saga">
            </label>

            <label class="add__form_label categoria" for="categoria">Categoría:
                <select class="add__form_input" name="categoria" required>
                    <option value="" disabled selected hidden>Seleccionar</option>
                    <% category.forEach((item) => { %>
                        <option value=""><%= item.category_name %></option>
                    <% }) %>
                </select>
            </label>
            
            <label class="add__form_label licencia" for="licence">Licencia:
                <select class="add__form_input" name="licence" required>
                    <option value="" disabled selected hidden>Seleccionar</option>
                    <% licence.forEach((item) =>{ %>
                        <option value=""><%= item.licence_name %></option>
                    <% }) %>
                </select>
            </label>
            
            <label class="add__form_label message">
                <textarea class="add__form_input" placeholder="Descripción del producto">
                </textarea>
            </label>
            
            <label class="add__form_label sku">SKU:
                <input type="text" class="add__form_input" size="7" placeholder="SSK111AB001">
            </label>
            
            <label class="add__form_label price">Precio:
                <input type="text" class="add__form_input" placeholder="$0.0000,00" size="7">
            </label>
            
            <label class="add__form_label stock">Stock:
                <input type="text" class="add__form_input" placeholder="0" size="1">
            </label>
            
            <label class="add__form_label descuentos">Descuento:
                <input type="text" class="add__form_input" placeholder="0%" size="5">
            </label>
            
            <label class="add__form_label cuotas">Cuotas:
                <select class="add__form_input">
                    <option required>0% de descuento</option>
                    <option required>10% de descuento</option>
                    <option required>20% de descuento</option>      
                    <option required>30% de descuento</option>      
                    <option required>40% de descuento</option>      
                    <option required>50% de descuento</option>      
                    <option required>60% de descuento</option>      
                    <option required>70% de descuento</option>      
                    <option required>80% de descuento</option>      
                    <option required>90% de descuento</option>      
                    <option required>100% de descuento</option>      
                </select>
            </label>

            <label class="add__form_label image">Imágenes:
                <input type="file" accept="image/png, image/jpeg" class="add_form_input image">
            </label>

            <input type="button" class="add__from_input"  value="Agregar Producto">

            <input type="button" class="add__from_input" value="Limpiar">
            
            
        </form>


    </article>
</section>

