@use "../../variables";
@use "../../minfux";


.product__card{
    
    box-shadow: -1px 0px 16px 6px rgba(133,133,133,0.29);
    @include minfux.productCard(277px);
    @include minfux.media(980px){
        height: 100%;
        min-width: 200px;
        width: 300px;
        position: relative;
        left: 0;
        transition: 0.5s;
    }
}

.starWars__img{
    @include minfux.imgCardHome;
    background: {
        image: url(.../../../img/productos/lighsaber-1.png);
        position: center;
        repeat: no-repeat;
        size: 277px;
    };
}

.pokemon__img{
    @include minfux.imgCardHome;
    background: {
        image: url(.../../../img/productos/pidgeotto-1.png);
        position: center;
        repeat: no-repeat;
        size: contain;
    }
}

.harryPotter__img{
    @include minfux.imgCardHome;
    background: {
        image: url(.../../../img/productos/luna-1.png);
        position: center;
        repeat: no-repeat;
        size: contain;
    }
}

.background__red{
    width: 97px;
    // max-width: 97px;
    height: 30px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: calc(100% - 97px);

    // @include minfux.media(980px){
    //     right: calc(0px - 97px);
    // }

    .background__span{
        color: variables.$c-font;
        font: {
            size: variables.$fs-14;
            family: variables.$ff-i;
            weight: variables.$w-500;
        }
    }
}

.last__product_title{
    @include minfux.textCardHome(variables.$fs-14, variables.$w-500, 16.94px);
    overflow-wrap:break-word
}

.last__product_title_description{
    @include minfux.textCardHome(variables.$fs-18, variables.$w-700, 21.78px)
}

.last__product__price{
    @include minfux.textCardHome(variables.$fs-16, variables.$w-400, 19.36px)   
}

.last__product_fees{
    @include minfux.textCardHome(variables.$fs-12, variables.$w-700, 14.52px);
    color: #1D84B5;
}