@use "../../variables";
@use "../../minfux";


.lastProduct{
    width: 100%;
    // max-height: calc(100vh - max(80px, 11vw));
    padding: 0 max(40px, 7.5vw) 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // gap: 1500px;
}

.lastProduct__title{
    font: {
        size: variables.$fs-46;
        weight: variables.$w-700;
        family: variables.$ff-r;
    }
    line-height: 54px;
    color: black;
    width: 100%;
    text-align: left;

    @include minfux.media(680px){
        font-size: variables.$fs-38;

    }
}

.lastProduct_cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;

    @include minfux.media(610px){
        flex-direction: column;
        gap: 10px;
    }
}
