@use "../minfux";
@use "../variables";

.main__modal_add{
    width: 100%;
    height: 115svh;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 10vw 5vw 0;

    @include minfux.media(500px){
        padding-top: 15vw;
    }
}

.main__add{
    min-width: 350px;
    width: 100%;
    max-width: 1220px;
    
    min-height: 700px;
    height: 60%;
}

.add__title{
    @include minfux.productInfo(clamp(variables.$fs-20, 3.5vw, variables.$fs-46), variables.$w-700, 30px, variables.$ff-r);
    margin-bottom: 25px;
}

.add__form{
    width: 100%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    
    &_label{
        @include minfux.productInfo(clamp(variables.$fs-14, 3vw, variables.$fs-24), variables.$w-500, 20px, variables.$ff-r);
        color: #1f1f1f;
    }       

    &_input{
        @include minfux.productInfo(clamp(variables.$fs-12, 3.5vw, variables.$fs-18), variables.$w-400, 30px, variables.$ff-i); 
        color: #b9b9b9;     
        margin-left: 10px;   
        padding-left: 10px;
        border: none;
        border-bottom: 1px solid red;
    }
}

.form_label{
    min-width: 350px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    .label_category, .label_licence{
        min-width: 300px;
    }

    .categoria, .licencia{
        width: 120px;
    
        @include minfux.media(550px){
            margin-right: 10px;
        }
    }
    
    select{
        width: 150px;
        color: black;
        border: 1px solid red;
    
        @include minfux.media(630px){
            width: 130px;
        }
    }
}

.name{
    width: 100%;

    .add__form_input{
        width: 300px;
        color: black;
    }
}

.message{
    width: 100%;
    height: 120px;

    .add__form_input{
        width: 95%;
        height: 100%;
        resize: none;
        border: 1px solid red;
        color: black;
    }
}

.sku{
    min-width: 250px;
    width: 30%;

    input{
        width: 160px;
        color: black;
    }
}

.price{
    min-width: 253px;

    width: 30%;

    input{
        width: 160px;
        color: black;
    }
}

.stock{
    width: 220px;

    display: flex;
    align-items: center;
    position: relative;
    
    input{
        width: 160px;
        color: black;
    }
    span{
        font-size: 14px;
        position: absolute;
        bottom: 5px;
        left: 150px;
    }
}

.descuentos{
    width: 50%;
    
    input{
        width: 140px;
        color: black;
    }
}

.form_dues{
    width: 50%;
    display: flex;
    align-items: center;
    .cuotas{
        width: 50%;
        
    }
    select{
        width: 180px;
        border: 1px solid red;
        color: black;
    }
}

.image{
    width: 100%;
}

input[type=submit], input[type=reset]{
    @include minfux.productInfo(clamp(variables.$fs-16, 3.5vw, variables.$fs-24), variables.$w-500, 20px, variables.$ff-r);

    width: 19rem;
    height: 2.5rem;
    margin-right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;

    @include minfux.media(700px){
        width: 10rem;
    }
}

.sku,
.price,
.stock,
.descuentos,
.cuotas{
    @include minfux.media(565px){
        width: 100%;   
    }
}
























// .main__modal_add{
//     width: 100vw;
//     height: 100svh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .main__add{
//     display: flex;
//     flex-direction: column;
//     align-items: start;
//     justify-content: space-between;
//     gap: 20px;
//     // margin-top: 10vw;

//     min-width: 1300px;
//     width: 100%;
//     max-width: 1500px;

//     min-height: 400px;
//     height: 60svh;
//     max-width: 700px;
// }

// .add__title{
//     @include minfux.productInfo(clamp(variables.$fs-20, 3.5vw, variables.$fs-46), variables.$w-700, 30px, variables.$ff-r);
// }

// .add__form{
//     display: flex;
//     align-items: center;
//     justify-content: start;
//     flex-wrap: wrap;
//     column-gap: 30px;

//     width: 100%;
//     height: 100%;

//     border: 1px solid black;
//     border-radius: 10px;
//     padding: 15px 25px;

//     &_label{
//         @include minfux.productInfo(clamp(variables.$fs-16, 3.5vw, variables.$fs-24), variables.$w-500, 20px, variables.$ff-r);
//         color: #1f1f1f;
//     }

//     &_input{
//         @include minfux.productInfo(clamp(variables.$fs-12, 3.5vw, variables.$fs-18), variables.$w-400, 30px, variables.$ff-i); 
//         color: #b9b9b9;     
//         margin-left: 10px;   
//         padding-left: 10px;
//     }

// }

// .categoria, .licencia{
//     width: 25%;
    
//     select{
//         min-width: 100px;
//         width: 50%;
//     }
    
// }

// input[type=text]{
// border: none;
// border-bottom: 1px solid red;
// }

// textarea {
//     resize: none;
//   }

// .name{
//     width: 40%;

//     .add__form_input{
//         width: 200px;
//     }
// }

// .message{
//     resize: none;
//     width: 100%;
//     .add__form_input{
//         width: 100%;

//         min-height: 100px;
//         height: 5vh;
//     }
// }

// .image{
//     display: flex;
//     // flex-wrap: wrap;
//     column-gap: 15px;
//     min-width: 100%;

//     input[type=file]{
//         width: 20%;
//     }
// }

// input[type=button]{
//     min-width: 100px;
//     width: 25%;
//     height: 44.33px;
//     background-color: red;
//     color: #fff;
//     border: none;
//     @include minfux.productInfo(clamp(10px, 3.5vw, variables.$fs-14), variables.$w-500, 20px, variables.$ff-i); 

// }

// textarea:focus, input[type=text]:focus{
//     outline: none;
//     color: black;
// }