@use "../../variables";
@use "../../minfux";


.footer{
    width: 100%;
    max-height: 303px;
    padding: 50px max(40px, 7.5vw) 20px;
    background-color: variables.$c-fondo;

    @include minfux.media(610px){
        max-height: 220px;
        padding: 10px max(40px, 7.5vw) 5px;

    }
 
    
    .footer__div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
}

.footer__login{
    position: absolute;
    bottom: 0;
}

.footer__nav {
    width: 50%;
    height: auto;
    list-style: none;
    li{
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: variables.$c-font;
        
        font: {
            size: variables.$fs-20;
            weight: variables.$w-500;
            family: variables.$ff-r;
        };

        @include minfux.media(610px){
            font-size: variables.$fs-14;
        }

    }
}

.footer__logo{
    width: max(20vw, 100px);
    height: 117px;

    background: {
        image: url(.../../../img/desktop/logo-footer.png);
        position: center;
        repeat: no-repeat;
        size: contain;
    };
}


.footer__copy_text{

    width: 100%;
    text-align: center;
    margin-top: 40px;
    color: variables.$c-font;

    font: {
        family: variables.$ff-r;
        size: variables.$fs-20;
        weight: variables.$w-500;
    }
    

    @include minfux.media(610px){
        font-size: variables.$fs-12;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.footer__shop{
    position: relative;
}