@use "../variables";
@use "../minfux";

.modal__medios{
    display: none;
}

.product__main__active{
    
    
    .modal__medios{
        background-color: rgba(255, 255, 255, 0.637);
        position: absolute;
        top: 0;
        min-width: 100vw;
        min-height: calc(100vh -  max(80px, 11vw));
        display: flex;
        justify-content: center;
        align-items: center;

    
    }
    .div__medios{
        max-width: 750px;
        max-height: 75vh;
        padding: 10px 100px;
        border: 1px solid rgba(0, 0, 0, 0.425);
        background-color: variables.$c-font;
        
        overflow-y: scroll
    }
    
    .x__close{
        cursor: pointer;
        position: sticky;
        top: 30px;
        left: 550px;
        width: 20px;
        height: 20px;
        background: {
            image: url(../../img/medios/x.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .medios__title{
        @include minfux.productInfo(variables.$fs-24, variables.$w-500, 40px, variables.$ff-i);
        margin-bottom: 2rem;
    }
    
    .medios__title:nth-child(4){
        @include minfux.productInfo(variables.$fs-18, variables.$w-500, 30px, variables.$ff-i);
        margin-bottom: .5rem;
    }
    
    .medios__title:nth-child(6){
        @include minfux.productInfo(variables.$fs-18, variables.$w-500, 30px, variables.$ff-i);
        margin-bottom: .5rem;
        color: green;
    }
    
    .medios__title:nth-child(8){
        @include minfux.productInfo(variables.$fs-20, variables.$w-500, 30px, variables.$ff-i);
        margin-bottom: .5rem;
    }
    
    .medios__title:nth-child(10){
        @include minfux.productInfo(variables.$fs-20, variables.$w-500, 30px, variables.$ff-i);
        margin-bottom: .5rem;
    
    }
    
    .medios__paragraph{
        @include minfux.textCardHome(variables.$fs-16, variables.$w-400, 22px);
        margin-left: 0;
        margin-bottom: 2rem;
    }
    
    .medios__paragraph:nth-child(11){
        @include minfux.textCardHome(variables.$fs-16, variables.$w-400, 22px);
        margin-left: 0;
        margin-bottom: .5rem;
    }
    
    .medios__paragraph:nth-child(12){
        @include minfux.textCardHome(variables.$fs-16, variables.$w-400, 22px);
        margin-left: 0;
        margin-bottom: .5rem;
    
    }
    
    .medios__line{
        @include minfux.lineInfo;
        margin-bottom: 2rem;
    }
    
    
    .medios__bancos{
        max-width: 70%;
        padding: 0 30px;
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .medios__bancos:nth-child(16){
        max-width: 40%;
        padding: 0 30px;
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .santander{
        width: 70px;
        height: 40px;
        background: {
            image: url(../../img/medios/santander.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .icbc{
        width: 70px;
        height: 40px;
        background: {
            image: url(../../img/medios/icbc.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .bbva{
        width: 70px;
        height: 40px;
        background: {
            image: url(../../img/medios/bbva.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .galicia{
        width: 70px;
        height: 40px;
        background: {
            image: url(../../img/medios/galicia.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .mercadoPago{
        width: 80px;
        height: 50px;
        background: {
            image: url(../../img/medios/mercadoPago.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .mastercard{
        width: 40px;
        height: 40px;
        background: {
            image: url(../../img/medios/mastercard.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .visa{
        width: 40px;
        height: 40px;
        background: {
            image: url(../../img/medios/visa.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .paypal{
        width: 40px;
        height: 40px;
        background: {
            image: url(../../img/medios/paypal.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .naranja{
        width: 40px;
        height: 40px;
        background: {
            image: url(../../img/medios/naranja.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .cabal{
        width: 40px;
        height: 40px;
        background: {
            image: url(../../img/medios/cabal.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .pagofacil{
        width: 40px;
        height: 40px;
        background: {
            image: url(../../img/medios/pagofacil.png);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
    
    .rapipago{
        width: 70px;
        height: 40px;
        background: {
            image: url(../../img/medios/rapipago.png);
            position: center;
            size: contain;
            repeat: no-repeat;
        };
    }
}

