@use "../../variables";
@use "../../minfux";

.main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lastProduct_cards{
    position: relative;
    left: 0;
    right: 0;
    max-width: 100vw;
    
    // padding: min(68px, 3vw) 110px 68px 110px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include minfux.media(980px){
        // padding: min(68px, 3vw) 40px 68px 40px; 
        gap: 20px;
    }

    @include minfux.media(610px){
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    .product__card{
        @include minfux.productCard(305px);
        justify-self: center;
        box-shadow: 0px 0px 10px 2px rgba(133, 133, 133, 0.336);
        border-radius: 20px;

        @include minfux.media(610px){
        max-width: 100%;
        display: flex;
        gap: 5px;
        }

        .starWars__img{
            @include minfux.imgCardHome(374px);
            background: {
                image: url(.../../../img/productos/lighsaber-1.png);
                position: center;
                repeat: no-repeat;
                size: contain;
            };
        
        }
        
        .pokemon__img{
            @include minfux.imgCardHome(374px);
            background: {
                image: url(.../../../img/productos/pidgeotto-1.png);
                position: center;
                repeat: no-repeat;
                size: contain;
            }
        }
        
        .harryPotter__img{
            @include minfux.imgCardHome(374px);
            background: {
                image: url(.../../../img/productos/luna-1.png);
                position: center;
                repeat: no-repeat;
                size: contain;
            }
        }
        
        .starWars__img,
        .pokemon__img,
        .harryPotter__img{
            @include minfux.media(610px){
                max-width: 150px;
                min-width: 80px;
                min-height: 100%;
                border-right: 1px solid rgba(133, 133, 133, 0.336);
            }
        
        }
        
        .background__red{
            width: max(60px, 7vw);
            // max-width: 97px;
            height: 30px;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 0;
            left: calc(100% - max(60px, 7vw));
            border-top-right-radius: 20px;
        
            @include minfux.media(680px){
                height: 25px;
            }

            @include minfux.media(610px){
                border-top-right-radius: 0;
                height: 20px;
            }
        
            .background__span{
                color: variables.$c-font;
                font: {
                    size: variables.$fs-14;
                    family: variables.$ff-i;
                    weight: variables.$w-500;
                }
        
                @include minfux.media(680px){
                    font-size: variables.$fs-12;
                        }
            }
        }
    
.product__card_text{
    min-width: 50%;
    
    
    @include minfux.media(610px){
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 15px;
    }

    .last__product_title{
        @include minfux.textCardHome(variables.$fs-16, variables.$w-700, 16.94px);
        
        @include minfux.media(680px){
            font-size: variables.$fs-12;
        }

        @include minfux.media(610px){
            font-size: variables.$fs-12;
            margin: 0 0 10px 0;
        }

    &_description{
        @include minfux.textCardHome(variables.$fs-18, variables.$w-400, 21.78px);
    
        @include minfux.media(980px){
            height: 43px;
        }
    
        @include minfux.media(680px){
            font-size: variables.$fs-14;
        }
    
        @include minfux.media(610px){
            font-size: variables.$fs-16;   
            height: 43px;
            margin: 0 0 5px 0;
        }

        @include minfux.media(500px){
            font-size: variables.$fs-14;
        }
    }
    }
    
    .last__product__price{
        @include minfux.textCardHome(variables.$fs-16, variables.$w-700, 19.36px);

        @include minfux.media(680px){
            font-size: variables.$fs-18;
        }

        @include minfux.media(610px){
            margin: 0 0 60px 0;
        }
    }

    .last__product_fees{
        @include minfux.textCardHome(variables.$fs-12, variables.$w-700, 14.52px);
        color: #1D84B5;
    

        @include minfux.media(680px){
            letter-spacing: -0.5px;
        }

        @include minfux.media(610px){
            font-size: variables.$fs-12;
            margin: 0;
        }
    }
}

    

}
        
        }

.shop__list_product_grid{
    position: relative;
    top: max(157px, 14.5vw);
    left: 0;
    right: 0;
    max-width: 100vw;
    
    padding: min(68px, 3vw) 110px 68px 110px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include minfux.media(980px){
        padding: min(68px, 3vw) 40px 68px 40px; 
    }

    @include minfux.media(610px){
        grid-template-columns: repeat(2, 1fr);
        
    }

    .shop__product__card{
        @include minfux.productCard(305px);
        justify-self: center;
        box-shadow: 0px 0px 10px 2px rgba(133, 133, 133, 0.336);
        border-radius: 5px;

        @include minfux.media(980px){
        min-width: 140px;
        max-width: 230px;
        }

        .starWars__img{
            @include minfux.imgCardHome(374px);
            background: {
                image: url(.../../../img/productos/lighsaber-1.png);
                position: center;
                repeat: no-repeat;
                size: contain;
            };
        
        }
        
        .pokemon__img{
            @include minfux.imgCardHome(374px);
            background: {
                image: url(.../../../img/productos/pidgeotto-1.png);
                position: center;
                repeat: no-repeat;
                size: contain;
            }
        }
        
        .harryPotter__img{
            @include minfux.imgCardHome(374px);
            background: {
                image: url(.../../../img/productos/luna-1.png);
                position: center;
                repeat: no-repeat;
                size: contain;
            }
        }
        
        .starWars__img,
        .pokemon__img,
        .harryPotter__img{
            border-bottom: 1px solid rgba(133, 133, 133, 0.336);

            @include minfux.media(610px){
                max-width: 100%;
                min-width: 100px;
            }
        
        }
        
        .background__red{
            width: max(60px, 7vw);
            // max-width: 97px;
            height: 30px;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 0;
            left: calc(100% - max(60px, 7vw));
            border-top-right-radius: 5px;
        
            @include minfux.media(680px){
                height: 25px;
            }
        
            .background__span{
                color: variables.$c-font;
                font: {
                    size: variables.$fs-14;
                    family: variables.$ff-i;
                    weight: variables.$w-500;
                }
        
                @include minfux.media(680px){
                    font-size: variables.$fs-12;
                        }
            }
        }
    
        .shop__product__card-text{

            .last__product_title{
                @include minfux.textCardHome(variables.$fs-14, variables.$w-700, 16.94px);
                
                @include minfux.media(680px){
                    font-size: variables.$fs-12; 

                }
    
                @include minfux.media(610px){
                    font-size: variables.$fs-12;   
                }

            &_description{
                @include minfux.textCardHome(variables.$fs-16, variables.$w-400, 21.78px);
            
                @include minfux.media(980px){
                    height: 43px;
                }
            
                @include minfux.media(680px){
                    font-size: variables.$fs-14;


                }
                
                @include minfux.media(610px){
                    font-size: variables.$fs-16;    
                }

                @include minfux.media(500px){
                    font-size: variables.$fs-14;    
                    
                }
            }
        }
            
            .last__product__price{
                @include minfux.textCardHome(variables.$fs-18, variables.$w-700, 19.36px);

                @include minfux.media(610px){  
                    margin-bottom: 7px;
                    
                }
            }

            .last__product_fees{
                 @include minfux.textCardHome(variables.$fs-12, variables.$w-700, 14.52px);
                color: #1D84B5;

                @include minfux.media(680px){
                    letter-spacing: -0.5px;
                }

                @include minfux.media(610px){
                    font-size: variables.$fs-12;
                }
}

}
        
        }
                
    
       
        
    }   

.shop__list_product_flex{
    position: relative;
    top: max(157px, 14.5vw);
    left: 0;
    right: 0;
    max-width: 100vw;
    
    padding: min(68px, 3vw) 110px 68px 110px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;

    @include minfux.media(980px){
        padding: min(68px, 3vw) 40px 68px 40px; 
    }

    .shop__product__card{
        @include minfux.productCard(100%);
            display: flex;
            justify-self: center;
            box-shadow: 0px 0px 10px 2px rgba(133, 133, 133, 0.336);
            border-radius: 5px;
            height: max(150px, 15vw);


        .starWars__img{
            @include minfux.imgCardHome(250px);
            background: {
                image: url(.../../../img/productos/lighsaber-1.png);
                position: center;
                repeat: no-repeat;
                size: contain;
            };
        }
        
        .pokemon__img{
            @include minfux.imgCardHome(250px);
            background: {
                image: url(.../../../img/productos/pidgeotto-1.png);
                position: center;
                repeat: no-repeat;
                size: contain;
            }
        }
        
        .harryPotter__img{
            @include minfux.imgCardHome(250px);
            background: {
                image: url(.../../../img/productos/luna-1.png);
                position: center;
                repeat: no-repeat;
                size: contain;
            }
        }
        
        .starWars__img,
        .pokemon__img,
        .harryPotter__img{
            border-right: 1px solid rgba(114, 114, 114, 0.363);
            min-height: 100%;
            height: max(150px, 15vw);
            width: max(150px, 20vw);

            @include minfux.media(610px){
                max-width: 200px;
                min-width: 100px;
                
        
            }
        
        }
        
        .background__red{
            width: max(60px, 7vw);
            height: 30px;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 0;
            left: calc(100% - max(60px, 7vw));
            
            @include minfux.media(680px){
                height: 25px;
            }
            
            .background__span{
                color: variables.$c-font;
                font: {
                    size: variables.$fs-14;
                    family: variables.$ff-i;
                    weight: variables.$w-500;
                }
            
                @include minfux.media(680px){
                    font-size: variables.$fs-12;
                        }
            }
        }

        .shop__product__card-text{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: flex-start;
            padding-top: 15px;
            padding-right: 10px;
            padding-left: 15px;

            @include minfux.media(1200px){
            padding-top: 5px;
                    
            }

            .last__product_title{
                @include minfux.textCardHome(variables.$fs-14, variables.$w-700, 30.94px);
                margin: 0;


                @include minfux.media(610px){
                    font-size: variables.$fs-12;

                }
   
                &_description{
                    @include minfux.textCardHome(variables.$fs-18, variables.$w-400, 30.78px);
                    margin: 0 0 0 0;

                    @include minfux.media(980px){
                        font-size: variables.$fs-16;
    
                    }

                    @include minfux.media(610px){
                        font-size: variables.$fs-14;
                        line-height: 20px
    
                    }
                }
            }

            .last__product__price{
                @include minfux.textCardHome(30px, variables.$w-400, 40.36px);
                margin: 0 0 10px 0;

                @include minfux.media(980px){
                    font-size: 28px;
                }

                @include minfux.media(610px){
                    font-size: variables.$fs-24;

                }
            }

            .last__product_fees{
                @include minfux.textCardHome(variables.$fs-12, variables.$w-700, 14.52px);
                color: #1D84B5;
                margin: 0;
            }
        }
    }
}
